
/* Variable */
:root {
  /* Color */
  --color-black: #000;
  --color-blue: #082bbc;
  --color-dark-blue: #161E54;
  --color-white: rgb(255, 255, 255);
  --color-orange: #ff8a02;
  --color-grey: #e9e8e8;
  --color-light-blue: #757ec3;
  --color-light-orange: #f0b46f;

  /* BOX COLOR */
  --box-color-blue: #0128cb;

  /* Font Size */
  --font-large: 60px;
  --font-big: 40px;
  --font-regular: 35px;
  --font-normal: 30px;
  --font-logo-size: 26px;
  --font-small: 20px;
  --font-micro: 16px;


  /* Font Family */
  --font-logo: 'Libre Baskerville', serif;
  --font-kr: 'Noto Sans KR', sans-serif;
  /* Font Weight */
  --weight-italic: 400;
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-light: 300;
}

/* Universe */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}

/* Button */
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.max-width{
  max-width: 1200px;
}

.header__txt{
  font-family: var(--font-kr);
  font-size: var(--font-big);
  font-weight: var(--weight-bold);
}

/* Nav */
#navbar{
  /* position */
  position: fixed;
  left: 0;
  right: 0;
  /* flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width */
  max-width: 1800px;
  /* margin */
  margin: auto;
  z-index: 1000;
  transition: all 400ms ease-in-out;
  mix-blend-mode: difference;
}

.navbar__logo{
  /* font */
  font-family: var(--font-logo);
  font-style: italic;
  font-size: var(--font-logo-size);
  /* color */
  color: var(--color-white);
  /* margin */
}

.navbar__contents{
  font-family: var(--font-kr);
  font-weight: var(--weight-regular);
}

.navbar__contents ul{
  display: flex;
  gap: 25px;
}

/* Responsive Toggle */
.toggle__btn{
  display: none;
  cursor: pointer;
  
}

.navbar__items a{
  position: relative;
  font-size: var(--font-micro);
  text-transform: capitalize;
  color: var(--color-white);
  /* padding */
  padding: 5px 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.navbar__items a::before{
  content: "";
  /* Size */
  width: 0%;
  height: 1px;
  /* background Color */
  background-color: var(--color-orange);
  /* position */
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
}

.navbar__items a:hover{
  color: var(--color-orange);
  transition: all 200ms ease-in-out;
}

.navbar__items a:hover::before{
  width: 100%;
  transition: all 300ms ease-in-out;
}


.come__btn{
  /* font */
  font-family: var(--font-kr);
  color: var(--color-black);
  /* bg */
  background-color: var(--color-white);
  /* size */
  width: 80px;
  height: 80px;
  /* border radius */
  border: 4px solid var(--color-black);
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.come__btn:hover{
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all 300ms ease-in-out;
}

/* Main */
#main{
  /* position */
  position: relative;
  /* size */
  height: 100vh;
  /* background color */
  background-color: var(--color-white);
  /* overflow */
  overflow-y: auto;
  /* Scroll snap */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* margin */
  margin: auto;
}

.scroll{
  width: 100%;
  height: 1000px;
  scroll-snap-align: start;
}

/* Home */
#home{
  display: flex;
  justify-content: center;
  /* position */
  position: relative;
}

.home__img{
  position: absolute;
  /* BG */
  background: url("../images/HSIBG.jpg") no-repeat center/cover;
  /* filter */
  filter: brightness(40%);
  /* size */
  width: 100%;
  height: 1000px;
  z-index: 10;
}
.home__main__txt__wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* font */
  font-family: var(--font-kr);
  z-index: 10;
}
.home__main__txt__wrap h1{
  color: var(--color-white);
  font-size: var(--font-big);
}

.home__main__p{
  color: var(--color-white);
  font-size: var(--font-micro);
  word-spacing: 5px;
}

.home__pdf__btn{
  /* position */
  position: relative;
  /* font */
  color: var(--color-white);
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  word-spacing: 4px;
  /* margin */
  margin-top: 80px;
  /* padding */
  padding: 15px 25px;
  /* border */
  border: 1px solid var(--color-white);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.home__pdf__btn::after, .home__pdf__btn::before{
  content: "";
  /* position */
  position: absolute;
  top: 26px;
  /* size */
  width: 30px;
  height: 1px;
  /* BG color */
  background-color: var(--color-white);
  transition: all 300ms ease-in-out;
}
.home__pdf__btn::after{
  left: -20px;
}
.home__pdf__btn::before{
  right: -20px;
}

.home__pdf__btn:hover{
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all 300ms ease-in-out;
}

.home__pdf__btn:hover::after, .home__pdf__btn:hover::before{
  background-color: var(--color-grey);
  transition: all 300ms ease-in-out;
}

/* About */
#about{
  max-width: 1200px;
  /* margin */
  margin: auto;
}

.about__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position */
  position: relative;
  top: 90px;
}

.about__header p{
  position: relative;
  top: -35px;
  /* font */
  font-family: var(--font-kr);
  color: var(--color-orange);
  word-spacing: 3px;
}

.about__card__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* position */
  position: relative;
  top: 130px;
}

.about__cards{
  width: 350px;
  height: 500px;
  /* border radius */
  border-radius: 14px; 
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about__cards h2{
  color: var(--color-white);
  mix-blend-mode: difference;
  font-size: var(--font-regular);
  transform: translateY(60px);
  transition: all 400ms ease-in-out;
}

.about__cards button{
  /* padding */
  padding: 10px 30px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  /* font */
  font-family: var(--font-kr);
  color: var(--color-white);
  letter-spacing: 4px;
  /* move */
  opacity: 0;
  transform: translateY(100px);
  transition: all 400ms ease-in-out;
}
.about__cards button:hover, .about__cards button:focus{
  background-color: var(--color-white);
  color: var(--color-black);
}

.about__cards:nth-child(1){
  /* Img */
  background: url("../images/introCard.jpg") no-repeat -100px/cover;
}

.about__cards:nth-child(2){
  background: url("../images/groupCard.jpg") no-repeat -40px/cover;
}

.about__cards:nth-child(3){
  background: url("../images/businessCard.jpg") no-repeat -100px/cover;
}

.about__cards:hover, .about__cards:focus{
  background-color: var(--color-orange);
  background-image: unset;
}

.about__cards:hover h2{
  mix-blend-mode: unset;
  color: var(--color-white);
  transform: translateY(0);
  transition: all 400ms ease-in-out;
}

.about__cards:hover button{
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms ease-in-out;
}

/* Work */
#work{
  position: relative;
  background-color: var(--color-grey);
}

.work__wrap{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}

.work__header{
  position: relative;
  top: 90px;
  text-align: center;
}

.work__top{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin top */
  margin-top: 120px;
}

.work__logo__wrap{
  position: absolute;
  top: -20px;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Size */
  width: 100%;
  height: 350px;
  /* bg color */
  background-color: var(--color-grey);
  /* visiblity */
  visibility: hidden;
  /* opacity */
  opacity: 0;
  /* transition */
  transition: all 300ms ease-in-out;
  z-index: 100;
}

.logo__wrap--visible{
  visibility: visible;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.sonats{
  width: 215px;
  height: 90px;
  background: url("../images/SONATS-couleur-2.png")no-repeat center/cover;

}

.thyss{
  width: 230px;
  height: 200px;
  background: url("../images/Thyssenkrupp_logo_logotype-700x482.png")no-repeat center/cover;
}

.plasan{
  width: 300px;
  height: 100px;
  background: url("../images/Logo-Plasan-300x99.jpg")no-repeat center/cover;
}

.havelsan{
  width: 215px;
  height: 100px;
  background: url("../images/Havelsan-750x375\ \(1\).png")no-repeat center/cover;
}

.company__introduce{
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  color: var(--color-orange);
}


.work__top img{
  width: 450px;
  -webkit-box-shadow: 5px 5px 7px -1px #262626; 
  box-shadow: 5px 5px 7px -1px #262626;
}
.work__top__p{
  /* outside */
  position: relative;
  background-color: var(--color-white);
  width: 350px;
  height: 270px;
  border-radius: 10px;
/* inside */
  display: flex;
  flex-direction: column;
  gap: 2px; 
}

.work__title{
  position: absolute;
  top: -60px;
  font-family: var(--font-kr);
  font-size: var(--font-big);
  color: var(--color-white);
  margin-left: 30px;
  margin-top: 14px;
}

.work__span{
  /* move */
  margin-top: 14px;
  margin-left: 30px;
  /* font */
  font-family: var(--font-kr);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue);
}

.work__bottom{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service__btn{
  width: 239px;
  height: 239px;
  border-radius: 50%;
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  /* font */
  color: var(--color-white);
  font-family: var(--font-kr);
  font-size: var(--font-normal);
  transition: all 300ms ease-in-out;
}

.service__btn:hover, .service__btn:focus{
  background-color: var(--color-white);
  border: 10px solid var(--color-dark-blue);
  color: var(--color-black);
  transition: all 300ms ease-in-out;
}

/* News */
#news{
  max-width: 1200px;
  margin: auto;
}

.news__header{
  position: relative;
  top: 150px;
  text-align: center;
}

.news__wrap{
  margin: auto;
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* Responsive
_____________________________________________________________ */
/* 1110px max */
@media  screen and (max-width: 1110px) {
  /* main */
  #main{
    scroll-snap-type: none;
  }
  #work{
    height: 1000px;
  }
}
/* 1062px */
@media screen and (max-width:1062px) and (min-width:794px){
  .work__bottom{
    max-width: 600px;
    margin: auto;
    margin-top: 80px;
  }
}

/* 817px */
@media screen and (max-width: 818px){
  #work{
    height: 1500px;
  }
}

/* 738px max */
@media screen and (max-width:738px) {
  /* Nav */
  #navbar{
    align-items:center;
    mix-blend-mode: unset;
    background-color: var(--color-black);
    height: 45px;
  }
  .navbar__logo{
    font-size: var(--font-micro);
    z-index: 1000;
  }
  .navbar__menu{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-54%, -800px);
    /* transition */
    transition: all 400ms ease-in-out;
    /* opacity */
    opacity: 0;
    /* width */
    width: 120%;
    /* padding */
    padding-bottom: 20px;
     /* text */ 
    text-align: center;
    /* flex */
    flex-direction: column;
    /* background */
    background-color: var(--color-black);
  }

  /* Open navbar menu */
  .open{
    /* transform */
    transform: translate(-54% ,0);
    /* opacity */
    opacity: 1;
    /* transition */
    transition: all 400ms ease-in-out;
  }

  /* toggle*/
  .toggle__btn{
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1000;
  }
  /* Times */
  .times-a{
    transform: rotate(50deg) translateY(6px);

  }
  .times-b{
    display: none;
  }
  .times-c{
    transform: rotate(-50deg) translateY(-6px);
  }

  .hamburger{
    background-color: white;
    width: 20px;
    height: 2px;

  }
  /* home */
  .home__main__txt__wrap h1{
    width: 340px;
    text-align: center;
  }
  
  .home__main__p{
    color: var(--color-grey);
    width: 240px;
    text-align: center;
  }
  
  .reponsive__span{
    font-family: var(--font-logo);
    font-style: italic;
  }

  /* about */
  .about__cards{
    width: 350px;
    height: 300px;
    gap: 0;
  }

  .about__cards:nth-child(1){
    /* Img */
    background-position: center;
  }

  #work{
    margin-top: 400px;
  }
  
}

/* max1110px ~ min 737px */
@media screen and (max-width: 1110px) and (min-width: 737px){
  /* about */
  .about__card__container{
    top: 100px;
  }

  .about__cards{
    width: 350px;
    height: 400px;
  }
  .about__cards:nth-child(3){
    width: 720px;
    height: 300px;
    background-position: center;
  }
  /* work */
  #work{
    margin-top: 150px;
  }
}

@media screen and (max-width: 526px){
  #work{
    height: 2100px;
  }
}

@media screen and (max-width: 420px){
  .work__top img{
    width: 340px;
  }
}