/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/* Variable */
:root {
  /* Color */
  --color-black: #000;
  --color-blue: #082bbc;
  --color-white: #fff;
  --color-orange: #ff8a02;
  --color-grey: #b9b9b9;
  --color-light-blue: #757ec3;
  --color-light-orange: #f0b46f;

  /* BOX COLOR */
  --box-color-blue: #0128cb;

  /* Font Size */
  --font-large: 60px;
  --font-big: 40px;
  --font-regular: 35px;
  --font-small: 20px;
  --font-normal: 30px;
  --font-micro: 16px;

  /* Font Weight */
  --weight-italic: 400;
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-light: 300;
}
