/* Body */
body {
  /* background */
  background-color: var(--color-white);
}

/* Home */
#home {
  /* position */
  position: relative;
  /* size */
  width: 100vw;
  height: 100vh;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Home Header */
.home__header {
  /* z-index */
  z-index: 100;
}
.home__header h1 {
  /* display */
  display: table-cell;
  /* vertical align */
  vertical-align: middle;
  /* font */
  font-family: var(--font-kr);
  font-size: 30px;
  color: var(--color-white);
  /* margin */
  margin: 15px 0;
  /* border */
  border-right: 2px solid #fff;
  /* animation */
  -webkit-animation: cursor 700ms ease infinite;
  animation: cursor 700ms ease infinite;
}

@-webkit-keyframes cursor {
  to {
    border-color: transparent;
  }
}

@keyframes cursor {
  to {
    border-color: transparent;
  }
}

/* home slide image */
#home__img {
  /* position */
  position: absolute;
  /* size */
  width: 100vw;
  height: 100%;
  /* z-index */
  z-index: 50;
}

/* Home Img */
#home__img div {
  /* position */
  position: absolute;
  /* size */
  width: 100%;
  height: 100%;
  /* filter */
  filter: brightness(75%);
}

/* images */
#home__img div:nth-of-type(1) {
  /* background */
  background: url('../images/main/main_bg/HSIBG.jpg') no-repeat center/cover;
}

/* images */
#home__img div:nth-of-type(2) {
  /* background */
  background: url('../images/main/main_bg/BG_2.jpg') no-repeat center/cover;
}
/* images */
#home__img div:nth-of-type(3) {
  /* background */
  background: url('../images/main/main_bg/BG_3.jpg') no-repeat center/cover;
}

/* Home contents */
.home__hello {
  /* font */
  font-family: var(--font-kr);
  font-size: 18px;
  color: var(--color-white);
  /* animation */
  animation-name: HomeAnimation;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2.5s;
  /* opacity */
  opacity: 0;
  /* transfrom */
  transform: translateY(100px);
  /* z-index */
  z-index: 100;
}

@keyframes HomeAnimation {
  from {
  }
  to {
    /* opacity */
    opacity: 1;
    /* transfrom */
    transform: translateY(0);
  }
}

/* Home button */
.home__button {
  /* position */
  position: relative;
  /* font */
  font-family: var(--font-kr);
  font-size: 15px;
  color: var(--color-white);
  /* size */
  width: 160px;
  /* border */
  border: 1px solid var(--color-white);
  /* margin */
  margin-top: 10px;
  /* transition */
  transition: all 250ms ease-in-out;
  /* animation */
  animation-name: HomeAnimation;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 3s;
  /* opacity */
  opacity: 0;
  /* transfrom */
  transform: translateY(100px);
  /* z-index */
  z-index: 100;
}

.home__button > a {
  /* display */
  display: inline-block;
  /* size */
  width: 100%;
  height: 100%;
  /* padding */
  padding: 10px;
  /* font */
  color: var(--color-white);
  /* transition */
  transition: all 250ms ease-out;
}

/* after */
.home__button::after {
  content: '';
  /* position */
  position: absolute;
  top: 50%;
  right: -19px;
  /* size */
  width: 25px;
  height: 1px;
  /* background */
  background-color: var(--color-grey);
}
/* before */
.home__button::before {
  content: '';
  /* position */
  position: absolute;
  top: 50%;
  left: -19px;
  /* size */
  width: 25px;
  height: 1px;
  /* background */
  background-color: var(--color-grey);
}

/* hover */
.home__button:hover,
.home__button:focus {
  /* background */
  background-color: var(--color-white);
}

.home__button:hover a,
.home__button:focus a {
  /* font */
  color: var(--color-black);
}

/* Home Respawnsive */
@media screen and (max-width: 645px) {
  /* Home Header */
  .home__header {
    /* size */
    width: 340px;
  }
  .home__header h1 {
    /* font */
    font-size: 20px;
    /* text */
    text-align: center;
  }
  /* Home contents */
  .home__hello {
    /* font */
    font-size: 14px;
    /* size */
    width: 300px;
    /* text */
    text-align: center;
  }
}

/* History */

#history {
  /* size */
  width: 100vw;
  height: 100%;
  /* padding */
  padding-top: 50px;
  padding-bottom: 200px;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history__header h1 {
  /* font */
  font-family: var(--font-kr);
  font-size: var(--font-big);
  /* padding */
  padding-bottom: 50px;
  /* text */
  text-align: center;
}

.history__contents__box {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.history__contents__items {
  /* font */
  font-family: var(--font-kr);
  /* text */
  text-align: center;
  /* size */
  width: 300px;
  height: 300px;
  /* border */
  border: 1px solid var(--color-dark-grey);
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history__contents__items:nth-of-type(odd) {
  /* font */
  color: var(--color-white);
  /* background */
  background-color: var(--color-dark-blue);
  /* border */
  border: 1px solid var(--color-dark-blue);
}

.history__contents__items h2 {
  /* font */
  font-size: var(--font-big);
}
.history__contents__items h3 {
  /* margin */
  margin-top: -15px;
}
/* History Responsive */
@media screen and (max-width: 1260px) {
  .history__contents__box {
    /* max-width */
    max-width: 900px;
    /* size */
    width: 90%s;
  }
}

/* About */
#about {
  /* size */
  width: 100vw;
  height: 100%;
  /* padding */
  padding-top: 50px;
  padding-bottom: 150px;
  /* flex */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* background */
  background-color: var(--color-light-grey);
}

.about__header {
  /* font */
  font-family: var(--font-kr);
  /* text */
  text-align: center;
}

.about__header h1 {
  /* font */
  font-size: var(--font-big);
}

.about__box {
  /* max-width */
  max-width: 1400px;
  /* size */
  width: 100%;
  /* padding */
  padding-top: 40px;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about__link__items {
  /* position */
  position: relative;
  /* font */
  font-family: var(--font-kr);
  /* size */
  width: 300px;
  height: 400px;
  /* border */
  border-radius: 10px;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box shadow */
  -webkit-box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.6);
  /* transition */
  transition: all 300ms ease-in-out;
}

.about__images {
  /* position */
  position: absolute;
  /* size */
  width: 100%;
  height: 100%;
  /* filter */
  filter: brightness(80%);
  /* border */
  border-radius: 10px;
}

.intro {
  /* background */
  background: url('../images/main/about_bg/introCard.jpg') no-repeat
    center/cover;
  background-position: -40px 0;
}

.group {
  /* background */
  background: url('../images/main/about_bg/groupCard.jpg') no-repeat
    center/cover;
  background-position: -100px 0;
}

.industry {
  /* background */
  background: url('../images/main/about_bg/businessCard.jpg') no-repeat
    center/cover;
  background-position: -40px 0;
}

.customer {
  /* background */
  background: url('../images/main/about_bg/HSI_Partner_BG.jpg') no-repeat
    center/cover;
  background-position: -100px 0;
}

.about__link__items h2 {
  /* font */
  font-size: 30px;
  color: var(--color-white);
  /* transition */
  transition: all 300ms ease-in-out;
  /* transform */
  transform: translateY(20px);
}

.about__link__items a {
  /* display */
  display: inline-block;
  /* font */
  color: var(--color-black);
  /* border */
  border-radius: 5px;
  /* background */
  background-color: var(--color-white);
  /* padding */
  padding: 5px 20px;
  /* opacity */
  opacity: 0;
  /* visible */
  visibility: hidden;
  /* transform */
  transform: translateY(40px);
  /* transition */
  transition: all 300ms ease-in-out;
}

/* hover */
.about__link__items:hover .about__images,
.about__link__items:focus .about__images,
.about__link__items:active .about__images {
  /* background */
  background-color: var(--color-orange);
  background-image: unset;
}

:is(.about__link__items:hover, .about__link__items:focus, .about__link__items:active)
  h2 {
  /* mix blend mode */
  mix-blend-mode: normal;
  /* transform */
  transform: translateY(0);
}

:is(.about__link__items:hover, .about__link__items:focus, .about__link__items:active)
  a {
  /* opacity */
  opacity: 1;
  /* visible */
  visibility: visible;
  /* transform */
  transform: translateY(0);
}

@media screen and (max-width: 1260px) {
  .about__box {
    /* max-width */
    max-width: 900px;
    /* size */
    width: 90%;
  }
}

@media screen and (max-width: 677px) {
  .about__link__items {
    /* size */
    width: 90%;
    height: 300px;
  }
  .intro {
    background-position: 0px 0;
  }

  .group {
    background-position: 0px 0;
  }

  .industry {
    background-position: 0px 0;
  }

  .customer {
    background-position: 0px 0;
  }
}
/* Service */
#service {
  /* size */
  width: 100vw;
  height: 100%;
  /* padding */
  padding: 50px 0;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service__header {
  /* font */
  font-family: var(--font-kr);
  /* text */
  text-align: center;
  /* padding */
  padding-bottom: 20px;
}

.service__header h1 {
  /* font */
  font-size: var(--font-big);
  color: var(--color-black);
}

.service__contents__box {
  /* max-width */
  max-width: 1200px;
  /* size */
  width: 90%;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.service__img {
  /* size */
  width: 500px;
  height: 500px;
  /* background */
  background: url(../images/main/work/service.jpg) no-repeat center/cover;
}

.service__text {
  /* font */
  font-family: var(--font-kr);
  /* max-width */
  max-width: 600px;
  /* size */
  width: 90%;
  height: 100%;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short__intro {
  /* font */
  font-size: var(--font-normal);
  color: var(--color-dark-grey);
  /* text */
  text-indent: 20px;
  text-align: justify;
  /* padding */
  padding: 0 30px;
}

.service__ul {
  /* font */
  font-size: 13px;
  /* text */
  line-height: 30px;
  /* size */
  width: 90%;
  height: 150px;

  /* border */
  border-radius: 20px;
  /* background */
  background-color: var(--color-light-grey);
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.detail__btn {
  /* font */
  font-size: var(--font-micro);
  color: var(--color-white);
  /* size */
  width: 90%;
  height: 50px;
  /* border */
  border: 2px solid var(--color-dark-blue);
  border-radius: 10px;
  /* background */
  background-color: var(--color-dark-blue);
  /* transition */
  transition: all 300ms ease-in-out;
}

.detail__btn:hover,
.detail__btn:focus {
  /* font */
  color: var(--color-black);
  /* background */
  background-color: var(--color-white);
}

.partner__title {
  /* font */
  font-family: var(--font-kr);
  font-size: var(--font-regular);
  /* padding */
  padding-top: 20px;
}

.logo__slider {
  /* max-width */
  max-width: 600px;
  /* size */
  width: 95%;
  height: 100%;
  /* margin */
  margin: 10px 0;

  /* background */
  background-color: rgb(209, 209, 209);
  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__items {
  /* margin */
  margin: 0 auto;
  /* size */
  width: 100%;
}

.logo__items div {
  /* size */
  width: 300px;
  height: 80px;
  /* margin */
  margin: 0 auto;
  /* cursor */
  cursor: pointer;
}

.logo__items div:nth-of-type(1) {
  background: url(../images/work/sonats/logo/SONATS-blanc.png) no-repeat center;
  background-size: contain;
  /* background */
  background-color: rgb(209, 209, 209);
}
.logo__items div:nth-of-type(2) {
  background: url(../images/work/Havelsan/logo/Havelsan\ ci.png) no-repeat
    center;
  background-size: contain;
}
.logo__items div:nth-of-type(3) {
  background: url(../images/work/tencate/logo/tencate\ ci.png) no-repeat center;
  background-size: contain;
}
.logo__items div:nth-of-type(4) {
  background: url(../images/work/plasan/logo/plasan\ ci.png) no-repeat center;
  background-size: contain;
}
.logo__items div:nth-of-type(5) {
  background: url(../images/work/sonimat/logo/sonimat\ ci.png) no-repeat center;
  background-size: contain;
}
.logo__items div:nth-of-type(6) {
  background: url(../images/work/bisalloy/logo/bisalloy\ ci.png) no-repeat
    center;
  background-size: contain;
}
.logo__items div:nth-of-type(7) {
  background: url(../images/work/impact/logo/Impact-Innovations_\ ci.png)
    no-repeat center;
  background-size: contain;
}
.logo__items div:nth-of-type(8) {
  background: url(../images/work/fabrisonic/logo/fabrisonic\ ci.png) no-repeat
    center;
  background-size: contain;
  /* background */
  background-color: rgb(209, 209, 209);
}

/* Prev Next btn*/
.logo__slider > button {
  /* font */
  font-size: 30px;
  color: var(--color-white);
  /* size */
  width: 50px;
  height: 100px;
  /* background */
  background-color: rgba(0, 0, 0, 0.671);
}

/* Service Responsive */
@media screen and (max-width: 510px) {
  .service__header h1 {
    /* font */
    font-size: var(--font-regular);
  }
  .service__img {
    /* size */
    width: 300px;
    height: 300px;
  }
  .service__text {
    /* max-width */
    max-width: 350px;
    /* size */
    width: 100%;
  }
  .short__intro {
    /* font */
    font-size: 18px;
  }
  .service__ul {
    /* font */
    font-size: 13px;
    /* text */
    line-height: 30px;
    /* size */
    width: 100%;
    height: 150px;
  }
  .detail__btn {
    /* size */
    width: 100%;
  }

  .logo__items div {
    /* size */
    width: 220px;
    height: 90px;
  }
}

/* News */
#news {
  /* overflow */
  overflow-x: hidden;
  /* size */
  width: 100vw;
  height: 100%;
  /* padding */
  padding-top: 40px;
  padding-bottom: 140px;
  /* background */
  background-color: var(--color-grey);
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news__header {
  /* font */
  font-family: var(--font-kr);
  /* text */
  text-align: center;
  /* padding */
  padding-bottom: 20px;
}

.news__header h1 {
  /* font */
  font-size: var(--font-big);
  color: var(--color-black);
}

.news__contents__box {
  /* max-width */
  max-width: 1400px;
  /* size */
  width: 90%;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.news__contents__items {
  /* font */
  font-family: var(--font-kr);
  /* size */
  width: 850px;
  height: 200px;
  /* padding */
  padding: 10px;
  /* background */
  background-color: var(--color-white);
  /* box-shadow */
  -webkit-box-shadow: 0px 6px 11px -2px #000000;
  box-shadow: 0px 6px 11px -2px #000000;
  /* transition */
  transition: all 300ms ease-in;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.news__image {
  /* size */
  width: 180px;
  height: 180px;
  /* margin */
  margin-right: 35px;
  /* border */
  border: 1px solid var(--color-dark-grey);
}

.yeogie {
  /* background */
  background: url('/images/main/news/yeogie.png') no-repeat center/cover;
}

.simtos {
  /* background */
  background: url('/images/main/news/simtos.jpg') no-repeat center/cover;
}

.news__contents__items > div > h2 > a {
  /* font */
  font-size: var(--font-medium);
  color: var(--color-dark-blue);
  /* text */
  line-height: 40px;
  /* padding */
  padding-bottom: 3px;
  /* border */
  border-bottom: 1px solid var(--color-dark-blue);
}

.news__contents__items > div > p {
  /* font */
  font-size: var(--font-micro);
}

/* News Responsive */
@media screen and (max-width: 890px) {
  .news__contents__items {
    /* size */
    width: 500px;
    height: 550px;
    /* flex */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .news__image {
    /* size */
    width: 90%;
    height: 60%;
    /* margin */
    margin-right: 0px;
  }

  .news__contents__items > div > h2 {
    /* text */
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .news__contents__items {
    /* size */
    width: 300px;
    height: 350px;
  }
  .news__image {
    /* size */
    width: 90%;
    height: 45%;
  }
  .news__contents__items > div > h2 {
    /* font */
    font-size: 18px;
  }
  .news__contents__items > div > p {
    /* font */
    font-size: 15px;
    /* text */
    text-align: center;
  }
}

/* Contact */
#contact {
  /* size */
  width: 100vw;
  height: 100%;
  /* padding */
  padding: 60px 0;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__header {
  /* font */
  font-family: var(--font-kr);
  /* text */
  text-align: center;
  /* padding */
  padding-bottom: 20px;
}

.contact__header h1 {
  /* font */
  font-size: var(--font-big);
  color: var(--color-black);
}

#contact > iframe {
  /* max-width */
  max-width: 1000px;
  /* size */
  width: 90%;
  height: 300px;
}

.contact__contents__box {
  /* max-width */
  max-width: 950px;
  /* size */
  width: 90%;
  height: 100%;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact__contents__box > p {
  /* font */
  font-family: var(--font-kr);
  font-size: 15px;
  /* text */
  line-height: 30px;
}

.contact__contents__box > p > span {
  /* font */
  font-size: 16px;
  font-weight: var(--weight-bold);
  color: var(--color-dark-blue);
}

.contact__input__list {
  /* max-width */
  max-width: 950px;
  /* size */
  width: 90%;
  /* margin */
  margin-left: -40px;
  /* padding */
  padding-top: 50px;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__input__list li > label {
  /* display */
  display: block;
  /* size */
  width: 100px;
  /* font */
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  /* text */
  text-align: right;
}

.contact__privacy {
  /* font */
  font-family: var(--font-kr);
  /* size */
  width: 100%;
  height: 100%;
  /* padding */
  padding-bottom: 40px;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact__privacy__label {
  /* size */
  width: 300px;
  /* text */
  text-align: center;
}

.contact__privacy > textarea {
  /* font */
  font-family: var(--font-kr);
  font-size: 12px;
  color: var(--color-dark-grey);
  /* size */
  width: 100%;
  /* padding */
  padding: 20px;
  /* resize */
  resize: none;
}

.agree__checkbox {
  /* padding */
  padding-top: 10px;
  /* flex */
  display: flex;
  align-items: center;
  gap: 5px;
}
.agree__checkbox > label {
  /* font */
  font-size: 14px;
  /* cursor */
  cursor: pointer;
}

.contact__input__items {
  /* size*/
  width: 85%;
  /* padding */
  padding: 15px 0;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact__input__items > input,
#contact__select {
  /* size */
  width: 80%;
  height: 50px;
  /* padding */
  padding-left: 10px;
  /* border */
  border: 2px solid var(--color-dark-grey);
}

#contents__contact {
  /* size */
  width: 80%;
  height: 200px;
  /* resize */
  resize: none;
  /* padding */
  padding: 20px;
}

/* contacy send */
#contact__send {
  /* font */
  font-family: var(--font-kr);
  font-size: 15px;
  color: var(--color-white);
  /* size */
  width: 250px;
  height: 40px;
  /* margin */
  margin-left: -10px;
  /* background */
  background-color: var(--color-black);
  /* transition */
  transition: all 250ms ease-in-out;
  /* cursor */
  cursor: pointer;
}

#contact__send:hover {
  /* font */
  color: var(--color-black);
  /* background */
  background-color: var(--color-white);
}

@media screen and (max-width: 690px) {
  #contact > iframe,
  .contact__contents__box {
    /* max-width */
    max-width: 550px;
  }
  .contact__contents__box > p:nth-of-type(2) {
    /* margin */
    margin-top: -10px;
  }
  .contact__input__list {
    /* max-width */
    max-width: 1200px;
    /* margin */
    margin-left: -40px;
  }

  .contact__input__items {
    /* margin */
    margin-left: -10px;
    /* padding */
    padding: 5px 0;
    /* flex */
    flex-direction: column;
    align-items: center;
  }

  .contact__input__list li > label {
    /* text */
    text-align: center;
  }

  .contact__input__items > input,
  #contact__select {
    /* size */
    width: 90%;
  }
  #contents__contact {
    /* size */
    width: 90%;
  }
}
