/* Work Common
========================================= */

/* Intro */
.sonats__bg {
  position: absolute;
  background: url("../../images/sonats-img.png") no-repeat center/cover;
  filter: brightness(30%);
  width: 100%;
  height: 1000px;
  z-index: 10;
}

.thyss__bg {
  background: url("../../images/thyss__bg.jpg") no-repeat center/cover;
  position: absolute;
  filter: brightness(30%);
  width: 100%;
  height: 1000px;
  z-index: 60;
}

.intro__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
}

.intro__title {
  font-size: var(--font-large);
  color: var(--color-white);
  z-index: 100;
}

.intro__description {
  font-family: var(--font-kr);
  color: var(--color-grey);
  font-weight: var(--weight-light);
  font-size: var(--font-small);
  text-align: center;
  line-height: 35px;
  z-index: 100;
  /* position */
  position: relative;
  top: -20px;
}

.intro__scroll {
  font-family: var(--font-kr);
  text-align: center;
  color: var(--color-dark-grey);
  font-size: var(--font-small);
  /* position */
  position: relative;
  top: 8%;
  z-index: 100;
  animation-name: scrollUpDown;
  animation-duration: 1500ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.intro__scroll__txt {
  letter-spacing: 15px;
}

.scroll__icon {
  position: relative;
  top: -10px;
  /* font */
  color: var(--color-white);
}

/* Scroll Animation */
@keyframes scrollUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Total Merchandise */


.total__merchandise {
    position: relative;
    background-color: var(--color-black);
    width: 100%;
    height: 1000px;
    z-index: 100;
  }
  
  .total__LR__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 270px;
  }
  
  .total__left {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    left: 50px;
  }
  
  .total__header {
    position: relative;
    top: 120px;
    left: 50px;
    /* flex */
    display: flex;
    flex-direction: column;
  }
  
  .total__header img {
    width: 250px;
  }
  
  .total__place {
    position: relative;
    left: -5px;
    top: 5px;
    width: 200px;
    font-size: var(--font-small);
  }
  
  .total__list {
    position: relative;
    top: 100px;
    /* text */
    line-height: 55px;
  }
  
  .total__list__item {
    font-size: 14px;
    font-family: var(--font-kr);
    font-weight: var(--weight-light);
    color: var(--color-white);
  }
  
  .total__list__item:nth-child(1) {
    display: block;
    border-top: 1px solid var(--color-dark-grey);
  }
  
  /* Work Btns
  ----------------------------- */
  .work__btns {
    /* width */
    width: 245px;
    height: 50px;
    /* margin */
    margin-bottom: 30px;
    /* border */
    border: 1px solid var(--color-white);
    /* font */
    color: var(--color-white);
    font-size: var(--font-micro);
    /* cursor */
    cursor: pointer;
    /* Transition */
    transition: all 300ms ease-out;
    /* spacing */
    word-spacing: 5px;
    /* position */
    position: relative;
    top: 120px;
    left: 35px;
  }
  
  .work__btns:hover,
  .work__btns:focus {
    background-color: var(--color-white);
    color: var(--color-black);
    transition: all 300ms ease-out;
    font-size: var(--font-small);
  }
  
  /* Total right */
  .total__right {
    display: flex;
    align-items: center;
    position: relative;
    top: 215px;
    width: 600px;
    height: 600px;
    background-color: var(--color-white);
  }
  
  .total__right button {
    color: var(--color-white);
    font-size: var(--font-regular);
  }
  