/* mix-blend-mode background Color set */
body {
  background-color: var(--color-white);
}

/* Main */
#main > #introduce {
  height: 83rem;
  margin: auto;
  overflow: hidden;
}

#main > #group,
#industry {
  height: 70rem;
  margin: auto;
}

/* Total */
.about__total__title h1 {
  /* Font */
  font-family: var(--font-kr);
  font-size: var(--font-regular);
}

/* Introduce*/
#introduce {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
/* Introduce Top */
.introduce__top {
  /* Margin */
  margin: 110px 0 0 0;
  /* Background Color */
  background-color: var(--color-dark-blue);
  /* size */
  width: 100%;
  height: 100px;
}

.introduce__top h2 {
  /* Font */
  font-family: var(--font-kr);
  color: var(--color-white);
  text-align: center;
  /* Margin */
  margin: auto;
  /* Position */
  position: relative;
  top: 50%;
  /* Transform */
  transform: translateY(-50%);
}

/* Introduce Main Title */
.introduce__main__title > h3 {
  /* Font */
  font-family: var(--font-kr);
  font-size: 25px;
  color: var(--color-dark-blue);
}

/* Introduce bottom */
.introduce__bottom {
  /* Flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

/* Introduce Image */
.introduce__image {
  /* Background Image */
  background: url("../../images/about/bg/inroduce_image.jpg") no-repeat center/cover;
  /* Background size */
  width: 500px;
  height: 500px;
  /* border radius */
  border-radius: 10px;
  /* Box shadow */
  -webkit-box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
  box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
}

/* Introduce Main First/Second */
.introduce__main__first,
.introduce__main__second {
  /* width */
  width: 730px;
  /* Font */
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  /* Text */
  text-align: justify;
  text-indent: 15px;
  line-height: 30px;
}

/* Introduce First */
.introduce__main__first {
  word-spacing: 2px;
}

.introduce__main__first__span {
  /* Font */
  font-size: 28px;
}

/* Spans Color */
:is(.introduce__main__first, .introduce__main__second) > span {
  /* Color */
  color: var(--color-blue);
}

/* Introduce Second */
.introduce__main__second {
  word-spacing: 3.5px;
}

/* Introduce Space word */
.introduce__space__word > h1 {
  /* Font */
  font-family: var(--font-logo);
  font-style: italic;
  font-size: 100px;
  color: var(--color-grey);
}

/* Group Map */
#group {
  position: relative;
  /* max width */
  max-width: 1200px;
  /* margin */
  margin: auto;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

#group > header {
  /* Position */
  position: relative;
  top: 30px;
}

.group__img {
  position: relative;
}

.group__img > img {
  /* Background */
  background-color: var(--color-light-grey);
  /* Position */
  position: relative;
  top: -40px;
  /* box shadow */
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.48);
}

.group__img > img:nth-of-type(1){
    /* size */
    width: 600px;
    /* padding */
    padding: 0 20px;
}

.group__img > img:nth-of-type(2){
  /* display */
  display: none;
  /* size */
  width: 300px;
  /* padding */
  padding: 10px 10px;
}

#group > p {
  /* margin */
  margin-top: -95px;
  /* font */
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  /* text */
  text-align: center;
  line-height: 40px;
}

.high-1 {
  /* font */
  font-size: 20px;
  font-weight: var(--weight-bold);
  color: var(--color-orange);
}


/* industry */
#industry {
  /* background color */
  background-color: var(--color-grey);
}

.industry__wrap {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* position */
  position: relative;
  top: 30%;
  /* tranform */
  transform: translateY(-30%);
}

.industry__header > h1 {
  font-family: var(--font-kr);
  font-size: var(--font-regular);
}

.industry__main {
  width: 80%;
  height: 600px;
  /* background */
  background-color: var(--color-dark-grey);
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position */
  position: relative;
}

.industry__main .industry__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s ;
}

/* One */
.industry__main > .industry__img:nth-of-type(1) {
  background: url("../../images/about/industry/transportation.png") no-repeat center/cover;
  clip-path: polygon(0 0, 40% 0, 20% 100%, 0% 100%);
}

/* Two */
.industry__main > .industry__img:nth-of-type(2) {
  background: url("../../images/about/industry/zeep.png") no-repeat center/cover;
  clip-path: polygon(40% 0, 100% 0, 65% 100%, 20% 100%);
}

/* Three */
.industry__main > .industry__img:nth-of-type(3) {
  background: url("../../images/about/industry/technology.png") no-repeat center/cover;
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 65% 100%);
}

.industry__main:hover .industry__img,
.industry__main:active .industry__main {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.industry__main > .industry__img:hover,
.industry__main > .industry__img:active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.industry__img .industry__content {
  /* position */
  position: absolute;
  bottom: -20%;
  left: 0;
  /* width */
  width: 70%;
  /* padding */
  padding: 20px;
  /* background */
  background: var(--color-dark-grey);
  /* opacity */
  opacity: 0;
  /* transition */
  transition: 0.5s;
  /* font */
  font-family: var(--font-kr);
  color: var(--color-white);
}

.industry__main .industry__img:hover .industry__content,
.industry__main .industry__img:active .industry__content {
  bottom: 0;
  opacity: 1;
}

.industry__main .industry__img:hover .industry__info__touch,
.industry__main .industry__img:active .industry__info__touch{
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* industry mouse over */
.industry__info__touch{
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform */
  transform: translate(-50%, -50%);
  /* font */
  font-family: var(--font-kr);
  color: var(--color-white);
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  /* opacity */
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}

.industry__info__touch > i{
  font-size: 120px;
}

.industry__info__touch h3{
  font-size: var(--font-small);
}
/* Industry mobile none */
.industry__main-mobile{
  display: none;
}



/* Responsive */

/* max-width 1257px */
@media screen and (max-width: 1300px) {
  /* Main */
  #introduce {
    height: 100rem;
  }
  /* Introduce */
  /* Introduce Bottom */
  /* Introduce Image */
  .introduce__image {
    /* Image size */
    width: 730px;
    height: 300px;
    /* Box shadow */
    -webkit-box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
    box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
  }
}

/* max width 1024px */
@media screen and (max-width: 1024px) {
  /* Industry */
  #industry {
    position: relative;
  }
  /* footer */
  #footer {
    position: relative;
    top: 200px;
  }
}
/* max width 876px */
@media screen and (max-width: 876px) {
  /* Group */
  .group__img > img {
    width: 700px;
  }
}

/* Max-width 768px */
@media screen and (max-width: 768px) {
  /* Introduce */
  /* Introduce Image */
  .introduce__image {
    /* Image size */
    width: 630px;
  }
  /* Introduce Main First / Second */
  .introduce__main__first,
  .introduce__main__second {
    width: 630px;
  }
  /* Industry height size */
  #main > #industry{
    margin-top: -300px;
    height: 60em;
  }

}

/* Max-width 738px */
@media screen and (max-width: 738px) {
  /* nav */
  #navbar__menu-about{
    height: 230px;
  }
  /* Introduce */
  /* Introduce Top */
  .introduce__header {
    font-size: var(--font-small);
  }
  /* Introduce Main Title */
  .introduce__main__title > h3 {
    /* Font */
    font-size: 19px;
    text-align: center;
    /* width */
    width: 300px;
  }
  /* Introduce Bottom */
  .introduce__bottom {
    flex-direction: column;
  }
  /* Introduce Image */
  .introduce__image {
    /* Image size */
    width: 320px;
    height: 220px;
  }
  /* Introduce Main First / Second */
  .introduce__main__first,
  .introduce__main__second {
    /* width */
    width: 320px;
    /* Font */
    font-size: var(--font-micro);
    word-spacing: 2px;
    line-height: 30px;
  }

  .introduce__space__word {
    display: none;
  }
}

@media screen and (max-width: 672px){
  
  /* business chart */
  .group__img > img:nth-of-type(1){
    display: none;
  }

  .group__img > img:nth-of-type(2){
    display: block;
  }
}
