/* mix-blend-mode background Color set */
body {
  background-color: var(--color-white);
}

/* Main */
#main > section {
  height: 83rem;
  margin: auto;
}

/* Total */
.about__total__title h1 {
  /* Font */
  font-family: var(--font-kr);
  font-size: var(--font-regular);
}

/* Introduce*/
#introduce {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
/* Introduce Top */
.introduce__top {
  /* Margin */
  margin: 110px 0 0 0;
  /* Background Color */
  background-color: var(--color-dark-blue);
  /* size */
  width: 100%;
  height: 100px;
}

.introduce__top h2 {
  /* Font */
  font-family: var(--font-kr);
  color: var(--color-white);
  text-align: center;
  /* Margin */
  margin: auto;
  /* Position */
  position: relative;
  top: 50%;
  /* Transform */
  transform: translateY(-50%);
}

/* Introduce Main Title */
.introduce__main__title > h3 {
  /* Font */
  font-family: var(--font-kr);
  font-size: 25px;
  color: var(--color-dark-blue);
}

/* Introduce bottom */
.introduce__bottom {
  /* Flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

/* Introduce Image */
.introduce__image {
  /* Background Image */
  background: url("../../images/inroduce_image.jpg") no-repeat center/cover;
  /* Background size */
  width: 500px;
  height: 500px;
  /* border radius */
  border-radius: 10px;
  /* Box shadow */
  -webkit-box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
  box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
}

/* Introduce Main First */
.introduce__main__first,
.introduce__main__second {
  /* width */
  width: 730px;
  /* Font */
  font-family: var(--font-kr);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  /* Text */
  text-align: justify;
  text-indent: 15px;
  word-spacing: 4.2px;
  line-height: 35px;
}
.introduce__main__first__span {
  /* Font */
  font-size: 28px;
}

/* Spans Color */
:is(.introduce__main__first, .introduce__main__second) > span {
  /* Color */
  color: var(--color-blue);
}

/* Introduce Space word */
.introduce__space__word > h1 {
  /* Font */
  font-family: var(--font-logo);
  font-style: italic;
  font-size: 100px;
  color: var(--color-grey);
}

/* Group Map */
#group{
  position: relative;
  /* max width */
  max-width: 1200px;
  /* margin */
  margin: auto;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

#group > header{
  /* Position */
  position: relative;
  top: 100px;
}

.group__img > img{
  width: 900px;
}

/* Responsive */

/* max-width 1257px */
@media screen and (max-width: 1276px) {
  /* Main */
  #main > section {
    height: 100rem;
  }
  /* Introduce */
  /* Introduce Bottom */
  /* Introduce Image */
  .introduce__image {
    /* Image size */
    width: 730px;
    height: 300px;
    /* Box shadow */
    -webkit-box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
    box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.96);
  }
}

/* max width 876px */
@media screen and (max-width: 876px) {
  /* Group */
  .group__img > img{
    width: 700px;
  }
}

/* Max-width 768px */
@media screen and (max-width: 768px) {
  /* Introduce */
  /* Introduce Main First / Second */
  .introduce__main__first,
  .introduce__main__second {
    width: 630px;
  }
}

/* Max-width 738px */
@media screen and (max-width: 738px) {
  /* Introduce */
  /* Introduce Top */
  .introduce__header {
    font-size: var(--font-small);
  }
  /* Introduce Main Title */
  .introduce__main__title > h3 {
    /* Font */
    font-size: 19px;
    text-align: center;
    /* width */
    width: 300px;
  }
  /* Introduce Bottom */
  .introduce__bottom {
    flex-direction: column;
  }
  /* Introduce Image */
  .introduce__image {
    /* Image size */
    width: 320px;
    height: 220px;
  }
  /* Introduce Main First / Second */
  .introduce__main__first,
  .introduce__main__second {
    /* width */
    width: 320px;
    /* Font */
    font-size: var(--font-micro);
    word-spacing: 2px;
    line-height: 30px;
  }
}

/* Max width 700px */
@media screen and (max-width: 700px) {
  /* Group */
  .group__img > img{
    width: 350px;
  }
}
