/* max width 1024px */
@media screen and (max-width: 1024px) {
  /* Ipad Pro Group Map */
  #group > header {
    top: 130px;
  }
  .group__img > img {
    width: 700px;
    top: 120px;
  }
  .group__img > h3{
    /* position */
    top: 950px;
    left: 400px;
  }
}

@media screen and (max-width: 768px) {
    #group > header{
        top: 80px;
    }
    .group__img > img{
        width: 600px;
        top: 10px
    }

    .group__img > h3{
        display: none;
      }
}


/* Mobile */
@media screen and (max-width: 738px) {
  .group__img > img{
    /* width( Size ) */
    width: 370px;
  }
}
