@media screen and (max-width: 540px) {
  .industry__main {
    display: none;
  }
  .industry__main-mobile {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position */
    position: relative;
    top: 50px;
  }
}
